<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>90f3bf0c-ebe3-4c53-8cce-1b58df025e99</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cBkuWhr3ZGHIpjKOZIP9GCRcR7EXkgjm1F4V9JBP</string>
	<key>PROJECT_APP_UUID</key>
	<string>4f1a3b5c-9885-4bcf-9d2d-7558a0e33e46</string>
</dict>
</plist>
